<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="Module">
    <section ng-controller="ControllerCtrl">
        <input type="text" ng-model="text">
        <p ng-model="text">Input Text: {{text}}</p>
        <p ng-model="text">Upper Case: {{text | upperCase}}</p>
        <p ng-model="text">First letter in uppercase: {{text | firstCaseUpperCase}}</p>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js" 
    integrity="sha512-rCVQBDU9Ny0aKLo1/B1MqgRjWEMlCL3WJ0DD6mJeK6qMZqpN9JCRxPtMQWWR9XWCMFIqlSgT4uOdwpvxWTSejw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="customFilter.js"></script>
</body>
</html>